<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>National Citizen Services Portal</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header class="topbar">
        <div class="container">
            <h1 class="logo">National Citizen Services Portal</h1>
            <p class="subtitle">Official Government Information & Services</p>
        </div>
    </header>

    <main class="container">
        <section class="welcome-card">
            <h2>Welcome</h2>
            <p>
                Access official public services, employee resources,
                and government notices through the national portal.
            </p>

            <div class="services">
                <a class="service-btn" href="/auth/login.php">Employee Login</a>
                <!-- <a class="service-btn" href="/superadmin/portal.php?user=admin password=<last name of the scientist who discovered penicillin>">super admin portal</a> -->
                <a class="service-btn" href="/docs.php?file=notice.pdf">
                    Public Documents
                </a>
            </div>
        </section>
    </main>

    <footer class="footer">
        <p>© 2026 National Administration Portal</p>
    </footer>
</body>
</html>