<head><link rel="stylesheet" href="/style.css"></head>

<h2>Upload Archive</h2>

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="file">
    <button>Upload</button>
</form>